
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black url('images/loaders.gif') no-repeat center;
    z-index: 999999;
}
*{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero{
	height: 100%;
	width:100%;
	background-image: linear-gradient(rgba(0,0,0,-4),rgba(0,0,0,-4)),url('loginImg/bg2.png');
	background-position: center;
	background-size: cover;
    background-blend-mode: darken;
	position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text-box{
    width: 50%;
    height: 500px;
    margin-left: 20px;
    padding: 30px;
    color: white;
    animation-name: fadein;
    animation-duration: 1.6s;
    visibility: hidden;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0%{
        opacity: 0;
        transform: translateX(-200px) scale(0.9);
        visibility: visible;
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
    }
}
.text-box h1{
    width: 60rem;
    font-size: 3rem;
    font-family: 'Open Sans';
    font-weight: 1000;
    margin-bottom: 4rem;
}
#ex-000{
    color: red;
    font-size: 4rem;
    text-shadow: 1px 1px 10px black;  
}
.text-box p{
    font-size: 1.6rem;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 3rem;
    width: 50rem;
}
.form-box{
	width: 380px;
	height: 440px;
	position: relative;
	margin: 8% auto;
    margin-right: 25%;
	background: transparent;
	padding:5px;
    overflow: hidden;
    border: 1px solid white ;
    border-radius: 10px;
    box-shadow: rgba(96, 53, 53, 0.25) 0px 100px 100px -20px, rgba(12, 12, 12, 0.3) 0px 30px 60px -30px, rgba(61, 17, 17, 0.35) 0px -2px 6px 0px inset;
    backdrop-filter: blur(5px);
    animation-name: fadeinex;
    animation-duration: 1s;
    visibility: hidden;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes fadeinex {
    0%{
        opacity: 0;
        visibility: visible;
    }
    50%{
        opacity: 0;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: rgb(19, 19, 19);
}


.toggle-btn{
	padding: 10px 22px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
    font-family: 'Bruno Ace';
    color:rgb(255, 255, 255);
}


#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background-image: linear-gradient(to right, #ff0800 0%, #e5040c  51%, #ff0901  100%);
	border-radius: 30px;
	transition: 0.5s;
    display: block;
}

.input-group{
    top: 140px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ff0000;
    outline: none;
    background: transparent;
    font-family: 'Open Sans';
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
   
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgb(210, 0, 0);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-family: 'Bruno Ace';
    transition: all 1s;
    font-weight: bold;
    color: white;
}

.submit-btn:hover{
  color: black;
  box-shadow: rgba(205, 204, 204, 0.3) 0px 19px 38px, rgba(96, 96, 96, 0.22) 0px 15px 12px;
  background: red;
}
.check-box{
    margin: 30px 10px 30px 0;
    accent-color: red;
    
    
}
label{
    font-size: 0.9rem;
    cursor: pointer;
    color: white;
}
label:hover{
    color: red;
}
#login{
    left: 50px;  
}

#register{
    left: 450px;  
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}



.home-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  background: red;
  border-radius: 30px;
  transition: .5s;
  font-family: 'Bruno Ace';
  color: white;
  
}

.home-button:hover {
  color: black;
  box-shadow: rgba(205, 204, 204, 0.3) 0px 19px 38px, rgba(96, 96, 96, 0.22) 0px 15px 12px;
}






























  